<h1>More Project Info</h1>
    <p>
        <%= @project.name %>
    </p>

    <p>
        <%= @project.pay %>
    </p>

    <p>
        <%= @project.skill_id.name %>
    </p>

    <p>
        <%= link_to 'Back', projects_path %>
    </p>